.card {
  padding: 15px;
  background-color: white;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-frontend {
  background-color: black;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  color: white;
}
